In [31]:
import numpy as np
from collections import Counter
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

data = load_iris()
df = pd.DataFrame()
df['sepal length'] = data['data'][:,0]
df['sepal width'] = data['data'][:,1]
df['petal length'] = data['data'][:,2]

display(df)
X = df.to_numpy()
df['target'] = data['target']

named_targets = []

for elm in df['target'].to_list():
    named_targets.append(data.target_names[elm])   
    
df['species_name'] = named_targets
display(df)

sns.pairplot(df.drop(labels=['target'],axis=1), hue='species_name')

X_train, X_test, y_train, y_test, idx_train, idx_test=train_test_split(
    X,y, range(X.shape[0]),
    test_size=0.30,
    train_size=0.70,
    random_state=123,
    shuffle=True,
    stratify=y)

y = df['target'].to_numpy()
print('X_train shape :', X_train.shape)
print('X_test shape :', X_test.shape)
print('y_train shape :', y_train.shape)
print('y_test shape :', y_test.shape)

     sepal length  sepal width  petal length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

     sepal length  sepal width  petal length  target species_name
0             5.1          3.5           1.4       0       setosa
1             4.9          3.0           1.4       0       setosa
2             4.7          3.2           1.3       0       setosa
3             4.6          3.1           1.5       0       setosa
4             5.0          3.6           1.4       0       setosa
..            ...          ...           ...     ...          ...
145           6.7          3.0           5.2       2    virginica
146           6.3          2.5           5.0       2    virginica
147           6.5          3.0           5.2       2    virginica
148           6.2          3.4           5.4       2    virginica
149           5.9          3.0           5.1       2    virginica

[150 rows x 5 columns]

X_train shape : (105, 3)
X_test shape : (45, 3)
y_train shape : (105,)
y_test shape : (45,)

In [32]:
X_train, X_test, y_train, y_test, idx_train, idx_test=train_test_split(
    X,y, range(X.shape[0]),
    test_size=0.30,
    train_size=0.70,
    random_state=123,
    shuffle=True,
    stratify=y)

print('X_train shape :', X_train.shape)
print('X_test shape :', X_test.shape)
print('y_train shape :', y_train.shape)
print('y_test shape :', y_test.shape)

X_train shape : (105, 3)
X_test shape : (45, 3)
y_train shape : (105,)
y_test shape : (45,)

In [33]:

tag = []

for _ in range(X.shape[0]):
    if _ in idx_train:
        tag.append('train')
    else:
        tag.append('test')
        
print(tag)
df['tag'] = tag

sns.pairplot(df.drop(labels=['target'],axis=1), x_vars=['sepal length'],
    y_vars=['sepal width'], hue='tag')

['train', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'train', 'test', 'train', 'train', 'test', 'train', 'train', 'test', 'train', 'train', 'test', 'train', 'train', 'train', 'test', 'test', 'test', 'train', 'train', 'test', 'test', 'test', 'train', 'train', 'test', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'test', 'train', 'train', 'train', 'test', 'train', 'test', 'test', 'test', 'test', 'train', 'test', 'train', 'train', 'train', 'test', 'train', 'train', 'train', 'test', 'test', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'test', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'test', 'train', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'test', 'test', 'test', 'train', 'train', 'train', 'train', 'test', 'train', 'train', 'test', 'train', 'test', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'train', 'train', 'test', 'train', 'train', 'train', 'train', 'test', 'test', 'train', 'test', 'train', 'train', 'train']

In [15]:
class KMeans:
    def __init__(self, k):
        self.k = k
        self.cluster_labels = None
    def fit(self, X):
        self.centroids = X[np.random.choice(X.shape[0], self.k, replace=False), :]
        self.cluster_labels = np.arange(self.k)        
        while True:
            distances = np.array([np.linalg.norm(X - centroid, axis=1) for centroid in self.centroids])
            self.clusters = np.argmin(distances, axis=0)
            new_centroids = np.array([X[self.clusters == i, :].mean(axis=0) for i in range(self.k)])
            # check convergence
            if np.array_equal(new_centroids, self.centroids):
                break
            else:
                self.centroids = new_centroids

    def predict(self, X):
        distances = np.array([np.linalg.norm(X - centroid, axis=1) for centroid in self.centroids])
        return self.cluster_labels[np.argmin(distances, axis=0)]
    
model = KMeans(k=3)
model.fit(X_train)
kmeans_labels = model.predict(X_test)
cluster_coords = model.centroids

print('kmeans_labels:', kmeans_labels)
print('predicted_labels:', kmeans_labels)
print('cluster centroids:', cluster_coords)

kmeans_labels: [0 1 0 1 1 2 2 0 2 2 1 2 1 2 0 2 0 0 2 2 2 2 2 0 2 0 1 2 1 1 1 1 0 0 0 0 0
 1 1 2 1 0 0 1 0]
predicted_labels: [0 1 0 1 1 2 2 0 2 2 1 2 1 2 0 2 0 0 2 2 2 2 2 0 2 0 1 2 1 1 1 1 0 0 0 0 0
 1 1 2 1 0 0 1 0]
cluster centroids: [[5.82619048 2.72142857 4.35238095]
 [6.77857143 3.02857143 5.62142857]
 [5.04285714 3.43428571 1.48857143]]

In [36]:
all_Kmeans_labels = model.predict(X)

len(all_Kmeans_labels)
print(all_Kmeans_labels)

[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 1 1 1
 1 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1
 1 0]

In [37]:
y_train

array([1, 0, 1, 2, 0, 2, 0, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 2, 0,
       2, 1, 0, 1, 0, 2, 2, 1, 2, 2, 2, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 0,
       0, 2, 1, 0, 1, 2, 0, 2, 0, 0, 1, 1, 1, 2, 1, 2, 2, 0, 0, 2, 2, 2,
       0, 2, 0, 1, 1, 2, 2, 0, 0, 0, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 0, 0,
       1, 1, 2, 2, 0, 0, 1, 2, 1, 2, 1, 0, 1, 0, 0, 0, 2])

In [38]:
df['kmeans_labels'] = model.predict(X)
display(df)

,sepal length,sepal width,petal length,target,species_name,tag,kmeans_labels
0,5.1,3.5,1.4,0,setosa,train,2
1,4.9,3.0,1.4,0,setosa,train,2
2,4.7,3.2,1.3,0,setosa,test,2
3,4.6,3.1,1.5,0,setosa,train,2
4,5.0,3.6,1.4,0,setosa,train,2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2,virginica,train,1
146,6.3,2.5,5.0,2,virginica,test,0
147,6.5,3.0,5.2,2,virginica,train,1
148,6.2,3.4,5.4,2,virginica,train,1
149,5.9,3.0,5.1,2,virginica,train,0

In [39]:
all_Kmeans_labels = model.predict(X)
df['kmeans_labels'] = model.predict(X)
display(df)

sns.pairplot(df.drop(labels=['target'],axis=1), x_vars=['sepal length'],
    y_vars=['sepal width'], hue='kmeans_labels')

sns.pairplot(df.drop(labels=['target'],axis=1), x_vars=['sepal length'],
    y_vars=['sepal width'], hue='species_name')

,sepal length,sepal width,petal length,target,species_name,tag,kmeans_labels
0,5.1,3.5,1.4,0,setosa,train,2
1,4.9,3.0,1.4,0,setosa,train,2
2,4.7,3.2,1.3,0,setosa,test,2
3,4.6,3.1,1.5,0,setosa,train,2
4,5.0,3.6,1.4,0,setosa,train,2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2,virginica,train,1
146,6.3,2.5,5.0,2,virginica,test,0
147,6.5,3.0,5.2,2,virginica,train,1
148,6.2,3.4,5.4,2,virginica,train,1
149,5.9,3.0,5.1,2,virginica,train,0

In [35]:
sns.pairplot(df.drop(labels=['target'],axis=1), hue='kmeans_labels')

In [17]:
fig = plt.figure()
ax = plt.axes(projection='3d')

ax.scatter3D(df['sepal length'].to_list(), df['sepal width'].to_list(), df['petal length'].to_list(), c=all_Kmeans_labels)

ax.scatter3D(cluster_coords[0][0], cluster_coords[0][1], cluster_coords[0][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[1][0], cluster_coords[1][1], cluster_coords[1][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[2][0], cluster_coords[2][1], cluster_coords[2][2], c='red', marker='x', s=350)

ax.set_xlabel('sepal length')
ax.set_ylabel('sepal width')
ax.set_zlabel('petal length')

Text(0.5, 0, 'petal length')

In [18]:
from sklearn.cluster import KMeans
skmodel = KMeans(
    n_clusters=3,
    max_iter=300,
    tol=0.0001,
    verbose=0,
    random_state=None,
    copy_x=True,
)

skmodel.fit(X_train)
skmodel_labels = skmodel.predict(X)
df['skmodel_labels'] = skmodel_labels
display(df)

,sepal length,sepal width,petal length,target,species_name,tag,kmeans_labels,skmodel_labels
0,5.1,3.5,1.4,0,setosa,train,2,2
1,4.9,3.0,1.4,0,setosa,train,2,2
2,4.7,3.2,1.3,0,setosa,test,2,2
3,4.6,3.1,1.5,0,setosa,train,2,2
4,5.0,3.6,1.4,0,setosa,train,2,2
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2,virginica,train,1,1
146,6.3,2.5,5.0,2,virginica,test,0,0
147,6.5,3.0,5.2,2,virginica,train,1,1
148,6.2,3.4,5.4,2,virginica,train,1,1
149,5.9,3.0,5.1,2,virginica,train,0,0

In [23]:
fig = plt.figure()
ax = plt.axes(projection='3d')

ax.scatter3D(df['sepal length'].to_list(), df['sepal width'].to_list(), df['petal length'].to_list(), c=skmodel_labels)

ax.scatter3D(cluster_coords[0][0], cluster_coords[0][1], cluster_coords[0][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[1][0], cluster_coords[1][1], cluster_coords[1][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[2][0], cluster_coords[2][1], cluster_coords[2][2], c='red', marker='x', s=350)

ax.set_xlabel('sepal length')
ax.set_ylabel('sepal width')
ax.set_zlabel('petal length')

Text(0.5, 0, 'petal length')

In [24]:
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt


distorsions = []
for k in range(2, 20):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X_train)
    distorsions.append(kmeans.inertia_)

fig = plt.figure(figsize=(15, 5))
plt.plot(range(2, 20), distorsions)
plt.grid(True)
plt.xticks(ticks = range(2, 20))
plt.title('Elbow plot')
plt.xlabel('k')
plt.ylabel('Distortion or Inertia: \nSum of squared distances\n of samples to their closest\n cluster center')

Text(0, 0.5, 'Distortion or Inertia: \nSum of squared distances\n of samples to their closest\n cluster center')

In [25]:
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
from sklearn.metrics import silhouette_score 

silhouette_scores = []
for k in range(2, 20):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X_train)
    silhouette_scores.append(silhouette_score(X_train, kmeans.labels_))

fig = plt.figure(figsize=(15, 5))
plt.plot(range(2, 20), silhouette_scores)
plt.grid(True)
plt.xticks(ticks = range(2, 20))
plt.title('silhouette_scores')
plt.xlabel('k')
plt.ylabel('silhouette scores')

C:\Users\galarm2\AppData\Local\Temp\ipykernel_6916\3595716190.py:11: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure(figsize=(15, 5))

Text(0, 0.5, 'silhouette scores')

In [26]:
model = KMeans(k=3)
model.fit(X_train)
kmeans_labels = model.predict(X_test)
cluster_coords = model.centroids

print('kmeans_labels:', kmeans_labels)
print('predicted_labels:', kmeans_labels)
print('cluster centroids:', cluster_coords)

TypeError: __init__() got an unexpected keyword argument 'k'

In [27]:
all_Kmeans_labels = model.predict(X)
df['kmeans_labels'] = model.predict(X)
display(df)

,sepal length,sepal width,petal length,target,species_name,tag,kmeans_labels,skmodel_labels
0,5.1,3.5,1.4,0,setosa,train,2,2
1,4.9,3.0,1.4,0,setosa,train,2,2
2,4.7,3.2,1.3,0,setosa,test,2,2
3,4.6,3.1,1.5,0,setosa,train,2,2
4,5.0,3.6,1.4,0,setosa,train,2,2
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2,virginica,train,1,1
146,6.3,2.5,5.0,2,virginica,test,0,0
147,6.5,3.0,5.2,2,virginica,train,1,1
148,6.2,3.4,5.4,2,virginica,train,1,1
149,5.9,3.0,5.1,2,virginica,train,0,0

In [28]:
fig = plt.figure()
ax = plt.axes(projection='3d')

ax.scatter3D(df['sepal length'].to_list(), df['sepal width'].to_list(), df['petal length'].to_list(), c=all_Kmeans_labels)

ax.scatter3D(cluster_coords[0][0], cluster_coords[0][1], cluster_coords[0][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[1][0], cluster_coords[1][1], cluster_coords[1][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[2][0], cluster_coords[2][1], cluster_coords[2][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[3][0], cluster_coords[3][1], cluster_coords[3][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[4][0], cluster_coords[4][1], cluster_coords[4][2], c='red', marker='x', s=350)

ax.set_xlabel('sepal length')
ax.set_ylabel('sepal width')
ax.set_zlabel('petal length')

IndexError: index 3 is out of bounds for axis 0 with size 3

In [29]:
from sklearn.cluster import KMeans
skmodel = KMeans(
    n_clusters=5,
    max_iter=300,
    tol=0.0001,
    verbose=0,
    random_state=None,
    copy_x=True,
)

skmodel.fit(X_train)
skmodel_labels = skmodel.predict(X)
df['skmodel_labels'] = skmodel_labels
display(df)

,sepal length,sepal width,petal length,target,species_name,tag,kmeans_labels,skmodel_labels
0,5.1,3.5,1.4,0,setosa,train,2,1
1,4.9,3.0,1.4,0,setosa,train,2,1
2,4.7,3.2,1.3,0,setosa,test,2,1
3,4.6,3.1,1.5,0,setosa,train,2,1
4,5.0,3.6,1.4,0,setosa,train,2,1
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2,virginica,train,1,4
146,6.3,2.5,5.0,2,virginica,test,0,0
147,6.5,3.0,5.2,2,virginica,train,1,4
148,6.2,3.4,5.4,2,virginica,train,1,4
149,5.9,3.0,5.1,2,virginica,train,0,0

In [30]:
fig = plt.figure()
ax = plt.axes(projection='3d')

ax.scatter3D(df['sepal length'].to_list(), df['sepal width'].to_list(), df['petal length'].to_list(), c=skmodel_labels)

ax.scatter3D(cluster_coords[0][0], cluster_coords[0][1], cluster_coords[0][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[1][0], cluster_coords[1][1], cluster_coords[1][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[2][0], cluster_coords[2][1], cluster_coords[2][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[3][0], cluster_coords[3][1], cluster_coords[3][2], c='red', marker='x', s=350)
ax.scatter3D(cluster_coords[4][0], cluster_coords[4][1], cluster_coords[4][2], c='red', marker='x', s=350)

ax.set_xlabel('sepal length')
ax.set_ylabel('sepal width')
ax.set_zlabel('petal length')

IndexError: index 3 is out of bounds for axis 0 with size 3